body, p, img, dl, dt, dd, ul, ol, h1, h2, h3, h4, h5, h6 { margin: 0; padding: 0; }
body { position: relative; font: 12px/24px "Microsoft YaHei", Arial; min-width: 960px; }
ul, ol { list-style: none; }
img { border: 0 none; }
input, select { vertical-align: middle; }
table { border-collapse: collapse; }
s, em, i { font-style: normal; text-decoration: none; }
.cf { *zoom: 1; }
.cf:after { clear: both; content: "."; display: block; height: 0; overflow: hidden; visibility: hidden; zoom: 1; }
body{
    background-color: rgba(19, 184, 255, 0.71);
}
.man{
    position: absolute;
    transform-origin: top left;
    animation-name: man;
    animation-duration:2s;
    animation-iteration-count:infinite;
    /*无限播放*/

}
@keyframes man{
    0%{
        transform: rotate(30deg);
    }
    50%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(30deg);
    }
}
.man-1{
    position: absolute;
    top: -500px;
    left:200px;
    animation-name: man-1;
    animation-duration:4s;
    animation-delay:5s;
    animation-fill-mode:forwards;
}
@keyframes man-1{
    0%{
        transform: translate(0,-100px);
    }
    100%{
        transform: translate(0,500px);
    }
}

.yun1{
    position: absolute;
    top: 100px;
    right: -500px;
    animation-name: yun;
    animation-duration:25s;
    animation-iteration-count:infinite;
}
.yun0{
    position: absolute;
    top:200px;
    right: -500px;
    animation-name: yun;
    animation-duration:40s;
    animation-iteration-count:infinite;
}
.yun2{
    position: absolute;
    right: -500px;
    top: 200px;
    animation-name: yun;
    animation-duration:20s;
    animation-iteration-count:infinite;
}
@keyframes yun{
    100%{
        transform: translate(-2000px);
    }
}
.bird{
    position: absolute;
    top:200px;
    left:300px;
    animation-name: bird;
    animation-duration:2s;
    animation-iteration-count:infinite;
}
@keyframes bird{
    50%{
        transform: scaleX(0.8);
    }
}
.plane{
    position: absolute;
    top: 298px;
    right: -1060px;
    transform: scale(0.3,0.3);
    animation-name: plane;
    animation-duration:5s;

}
@keyframes plane{
    60%{
        transform: translate(-2000px,-200px) scale(0.5,0.5);
    }
    61%{
        transform: translate(-2000px,-200px) rotateY(180deg) scale(0.6,0.6);
    }
    100%{
        transform: translate(300px,-1000px) rotateY(180deg) scale(0.7,0.7);
    }
}